elastic-job-spring/src/main/resources/META-INF/namespace/job.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.dangdang.com/schema/ddframe/job"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://www.dangdang.com/schema/ddframe/job"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="listener">
        <xsd:complexType>
            <xsd:attribute name="class" type="xsd:string" use="required" />
            <xsd:attribute name="startedTimeoutMilliseconds" type="xsd:string"/>
            <xsd:attribute name="completedTimeoutMilliseconds" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="bean">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:sequence>
                        <xsd:element ref="listener" minOccurs="0" maxOccurs="unbounded" />
                    </xsd:sequence>
                    <xsd:attribute name="class" type="xsd:string" use="required" />
                    <xsd:attribute name="regCenter" type="xsd:string" use="required" />
                    <xsd:attribute name="cron" type="xsd:string" use="required" />
                    <xsd:attribute name="shardingTotalCount" type="xsd:string" use="required" />
                    <xsd:attribute name="shardingItemParameters" type="xsd:string" />
                    <xsd:attribute name="jobParameter" type="xsd:string" />
                    <xsd:attribute name="monitorExecution" type="xsd:string" />
                    <xsd:attribute name="monitorPort" type="xsd:string" />
                    <xsd:attribute name="processCountIntervalSeconds" type="xsd:string" />
                    <xsd:attribute name="concurrentDataProcessThreadCount" type="xsd:string" />
                    <xsd:attribute name="fetchDataCount" type="xsd:string" />
                    <xsd:attribute name="maxTimeDiffSeconds" type="xsd:string" />
                    <xsd:attribute name="failover" type="xsd:string" />
                    <xsd:attribute name="misfire" type="xsd:string" />
                    <xsd:attribute name="jobShardingStrategyClass" type="xsd:string" />
                    <xsd:attribute name="description" type="xsd:string" />
                    <xsd:attribute name="disabled" type="xsd:string" />
                    <xsd:attribute name="overwrite" type="xsd:string" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
