elastic-job-spring/src/main/resources/META-INF/namespace/reg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.dangdang.com/schema/ddframe/reg"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://www.dangdang.com/schema/ddframe/reg"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    
    <!--
    use placeholder, must define all attribute type as string.
    <xsd:element name="zookeeper">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="serverLists" type="xsd:string" use="required" />
                    <xsd:attribute name="namespace" type="xsd:string" use="required" />
                    <xsd:attribute name="baseSleepTimeMilliseconds" type="xsd:positiveInteger" use="required" />
                    <xsd:attribute name="maxSleepTimeMilliseconds" type="xsd:positiveInteger" use="required" />
                    <xsd:attribute name="maxRetries" type="xsd:positiveInteger" use="required" />
                    <xsd:attribute name="sessionTimeoutMilliseconds" type="xsd:positiveInteger" />
                    <xsd:attribute name="connectionTimeoutMilliseconds" type="xsd:positiveInteger" />
                    <xsd:attribute name="digest" type="xsd:string" />
                    <xsd:attribute name="localPropertiesPath" type="xsd:string" />
                    <xsd:attribute name="overwrite" type="xsd:boolean" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    -->
    
    <xsd:element name="zookeeper">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="serverLists" type="xsd:string" use="required" />
                    <xsd:attribute name="namespace" type="xsd:string" use="required" />
                    <xsd:attribute name="baseSleepTimeMilliseconds" type="xsd:string" use="required" />
                    <xsd:attribute name="maxSleepTimeMilliseconds" type="xsd:string" use="required" />
                    <xsd:attribute name="maxRetries" type="xsd:string" use="required" />
                    <xsd:attribute name="sessionTimeoutMilliseconds" type="xsd:string" />
                    <xsd:attribute name="connectionTimeoutMilliseconds" type="xsd:string" />
                    <xsd:attribute name="digest" type="xsd:string" />
                    <xsd:attribute name="localPropertiesPath" type="xsd:string" />
                    <xsd:attribute name="overwrite" type="xsd:string" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="placeholder">
        <xsd:complexType>
            <xsd:attribute name="registerRef" type="xsd:string" use="required" />
            <xsd:attribute name="order" type="xsd:integer" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
